{{outlet}}
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="input-field inline">
                    {{input id="titulo" type="text" class="validate" value=model.titulo }}
                    <label for="titulo" data-error="wrong" data-success="right">Titulo</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="input-field inline">
                    {{input id="espacio" type="text" class="validate" value=model.espacio }}
                    <label for="espacio" data-error="wrong" data-success="right">Espacio requerido</label>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col s12">
                <span>Fecha de solicitud</span>
              {{#m-wrapper query=".datepicker" method="pickadate"}}
                {{input type="text" class="datepicker" placeholder="Selecciona la fecha del evento." change=(action 'changeFecha')}}
              {{/m-wrapper}}
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="input-field inline">
                    {{input id="tiempo" type="text" class="validate" value=model.tiempo }}
                    <label for="tiempo" data-error="wrong" data-success="right">Horario requerido</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{textarea id="textarea1" class="materialize-textarea" value=model.descripcion}}
                <label for="textarea1">Motivo</label>
            </div>
        </div>

        <div class="row">
            <a class="waves-effect waves-light btn light-blue darken-2" {{action 'saveSolicitud' model}}>
                <i class="material-icons right">cloud</i>Enviar
            </a>
            {{#link-to "dashboard" class="waves-effect waves-light btn light-blue darken-2"}}
                <i class="material-icons right">cloud</i>
                Inicio
            {{/link-to}}
        </div>

    </form>
  </div>