{{!-- {{outlet}} --}}
<div class="row">
    <div class="col s10 offset-1">
        <h5>{{model.encuestaBase.titulo}}</h5>
        <h6>{{model.encuestaBase.descripcion}}</h6>
    </div>
    <form class="col s12">
        <hr>
        {{#each model.encuestaBase.preguntas as |pregunta index|}}
            <div class="row">
               {{responder-pregunta pregunta=pregunta index=index changeRespuesta=(action 'changeRespuesta')}}
            </div>
        {{/each}}

        <hr>
        <div class="row">
            <a class="waves-effect waves-light btn light-blue darken-2" {{action 'responderEncuesta' model}}>
                <i class="material-icons right">cloud</i>Responder
            </a>
            {{#link-to "dashboard" class="waves-effect waves-light btn light-blue darken-2"}}
                <i class="material-icons right">cloud</i>
                Inicio
            {{/link-to}}    
        </div>

    </form>
  </div>