{{!-- {{outlet}} --}}
<nav>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab" >
                {{#link-to "dashboard" class="active"}}
                 <i class="material-icons left">view_module</i>
                    Inicio
                {{/link-to}}
            </li>
            <li class="tab">
                 {{#link-to "nueva-solicitud" class="active"}}
                  <i class="material-icons right">add</i>
                    Nueva solicitud
                {{/link-to}}
            </li>
        </ul>
    </div>
</nav>

{{#m-wrapper query='.collapsible' method='collapsible' }}
    <ul class="collapsible" data-collapsible="accordion">
        {{#each model as |solicitud|}}
            {{#unless solicitud.isNew}}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">assignment_turned_in</i>
                            {{solicitud.titulo}}
                        <span class="new badge blue" data-badge-caption="Ver">
                            {{#link-to "ver-solicitud" solicitud.id}}
                            .
                           {{/link-to}}
                        </span>
                    </div>
                    <div class="collapsible-body">
                            <p>Colono: {{solicitud.colono.nombre}} {{solicitud.colono.apellidoPaterno}} </p>
                            <p>Motivo: {{solicitud.descripcion}}</p>
                            <p>Fecha del evento: {{moment-format solicitud.fecha 'DD/MMM/YYYY' }} </p>

                    </div>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
{{/m-wrapper}}
