{{!-- {{outlet}} --}}

<div class="collection">
    {{#each mySolicitudes as |solicitud|}}
        {{#if solicitud.aprobado}}
            {{#link-to "ver-solicitud" solicitud class="collection-item"}}
                <span class="badge">
                    {{moment-format solicitud.fecha 'DD/MM/YYYY'}}
                </span>
                {{solicitud.titulo}}
            {{/link-to}}
        {{else}}
            <h6> Sin solicitudes registradas.</h6>
        {{/if}}
        {{else}}
          <h6> Sin solicitudes registradas.</h6>
    {{/each}}
</div>

{{#link-to "nueva-solicitud" class="waves-effect waves-light btn light-blue darken-2"}}
    <i class="material-icons right">cloud</i>
    Nueva Solicitud
{{/link-to}}
{{#link-to "dashboard" class="waves-effect waves-light btn light-blue darken-2"}}
    <i class="material-icons right">cloud</i>
    Inicio
{{/link-to}}