<div class="row">
    <div class="col s10 offset-1">
        <h5>{{model.encuestaBase.titulo}}</h5>
        <h6>{{model.encuestaBase.descripcion}}</h6>
    </div>
    {{m-wrapper}}
    <form class="col s12">
        <div class="row">
            <div class="input-field inline">
              {{input disabled=true id="fecha" type="text" class="validate" value=(moment-format model.fechaRespuesta 'DD/MM/YYYY  HH:mm') }}
                <label for="titulo" data-error="wrong" data-success="right">Fecha y hora de respuesta</label>
            </div>
        </div>
        <hr>
        <h6>Preguntas</h6>
        {{#each model.preguntas as |pregunta index|}}
            <div class="row">
               <label>{{add index 1}}.- {{pregunta.contenido}}</label>
				{{#each pregunta.respuestas as |respuestaChoice|}}
				    {{input disabled=true value=respuestaChoice.contenido}}
				{{/each}}
            </div>
        {{/each}}

    </form>
 </div>

   <hr>
  <nav>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                {{#link-to "encuestas" class="active"}}
                  <i class="material-icons left">question_answer</i>
                    Volver
               {{/link-to}}
            </li>
            <li class="tab">
                {{#link-to "dashboard" class="active"}}
                  <i class="material-icons right">view_module</i>
                    Inicio
               {{/link-to}}
            </li>
        </ul>
    </div>
</nav>